* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #ccc; */
  overflow-x: hidden;
}
